Purpose:
========

Aim of the software is to allow users to review image files. These files may be freshly imported from a digital camera.
The definition of a review consists of one or more directories which contain the image files (configuration is called
review set).
When a review is started, the user is guided through the set of images and may decide whether the file is accepted,
deleted directly or marked for later deletion. Deletion can bei either a hard delete or moving a file to an archive
directory. A review may be committed, which means that the deletion of marked files will be carried out.
When the software is restarted, it will automatically search for new files in the directories of the active review set.
This will also be done, if the review has been committed in a previous session.

Requirements
============

- Define Review sets
  * Name
  * List of directories
  * List of files in directories
  * File list update in background
  * Files can be in a state:
    * New
    * Reviewed
    * Marked for deletion
    * Deleted
    * Lost (available in previous session)
- Delete Review set
- Automatically open new review set dialog when no set is defined
- Drag and Drop support (Drag directories to review set)
- Keyboard support
- One Review active at a time
- Load directory structure asynchronously
- Update review set based on newly found files
- Detect file type FileTypeDetector
- Set exif tags
- Screen layout
===============================================
| Toolbar      |                           PRG|
|              |                              |
| TreeView     |                              |
|              |                              |
|              |       IMAGE                  |
|              |                              |
|              |                              |
|              |                              |
===============================================




Entities
========
ReviewSet
Directory
ImageFile
ConfigurationEntry




====
Strategy for File crawling:
- Start with directory
- Read files recursively
- Add always a set of fixed size to database

Strategy for Review Set check
- When started, current review set is checked for being up to date
- Try to locate all files in Review Set.
    * If an image file is not present, any more, it is marked as lost
    * For each directory compare content with database set. If files are new, they are added

===
Menu Tree
File
- Add Review Set
- Select Review Set
- Commit Review
- Close

Review